<div class="panel-group" id="accordion">
    <div class="panel panel-primary">
      
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <span  class="glyphicon glyphicon-folder-close">
            </span> &nbsp;Manage {{userInfo.role}}</a>
        </h4>
      </div>

      <div id="collapseOne" class="panel-collapse collapse in">
        <ul class="list-group">
            <li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><a href="#">&nbsp;Work Orders</a></li>                  
            <li class="list-group-item"><span class="glyphicon glyphicon-flash text-info"></span><a href="#">&nbsp;Tracking Work Order</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-stats text-info"></span><a href="#">&nbsp;Dashboard</a></li>
                                                   
        </ul>
      </div>
    </div>


    <div class="panel panel-primary" *ngIf="userInfo.isAdmin">
        
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-user">
              </span> &nbsp;Admin</a>
          </h4>
        </div>

        <div id="collapseOne" class="panel-collapse collapse in">
          <ul class="list-group">
              <li class="list-group-item"><a href="#">&nbsp;Categories</a></li>                    
              <li class="list-group-item"><a href="#">&nbsp;Status</a></li>
              <li class="list-group-item"><a href="#">&nbsp;Users</a></li>                                                                            
              <li class="list-group-item"><a href="#">&nbsp;Roles</a></li>                                                   
          </ul>
        </div>
      </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
            </span>Reports</a>
        </h4>
      </div>
     
    </div>
   
  </div>