<div class="panel-group" id="accordion">
    <div class="panel panel-primary">
      
      <div class="panel-heading">
        <h4 class="panel-title">
          <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <span  class="glyphicon glyphicon-folder-close">
            </span> &nbsp;Manage </div>
        </h4>
      </div>

      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="list-group">
            <a (click)="changePageName('Work Orders')"  routerLink="/workorder" [queryParams]="{page: 'workorder' }" [class.active]="page==='workorder'"  class="list-group-item list-group-item-action" >
              <span class="glyphicon glyphicon-file text-info"></span>
              &nbsp; Work Orders
            </a>                  

            <a (click)="changePageName('My Work Orders')"  routerLink="/myWorkOrders" [queryParams]="{page: 'myWorkOrders', filter:'myorders' }" [class.active]="page==='myWorkOrders'"  class="list-group-item list-group-item-action">
              <span class="glyphicon glyphicon-duplicate text-info"></span>
              &nbsp; My Work Orders
            </a>
          
            <a (click)="changePageName('Archived Work Orders')"  routerLink="/archiveWorkOrder" [queryParams]="{page: 'archiveWorkOrder' }" [class.active]="page==='archiveWorkOrder'"  class="list-group-item list-group-item-action">
              <span class="glyphicon glyphicon-folder-open text-info"></span>
              &nbsp; Archive Work Orders
            </a>
           
            <a (click)="changePageName('Dashboard')"  routerLink="/home" [queryParams]="{page: 'home' }" [class.active]="page==='home'"  class="list-group-item list-group-item-action">
              <span class="glyphicon glyphicon-stats text-info"></span>
              Dashboard
            </a>
                                                   
        </div>
      </div>
    </div>


    <div class="panel panel-primary" *ngIf="userInfo.isAdmin">
        
        <div class="panel-heading">
          <h4 class="panel-title">
            <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-user">
              </span> &nbsp;Admin</div>
          </h4>
        </div>

        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="list-group">
              <a (click)="changePageName('Categories')"  routerLink="/Categories" [queryParams]="{page: 'Categories' }" [class.active]="page==='Categories'"  class="list-group-item list-group-item-action">
                Categories
              </a>                    
              <a (click)="changePageName('Status')"  routerLink="/Status" [queryParams]="{page: 'Status' }" [class.active]="page==='Status'"  class="list-group-item list-group-item-action">
                Status
              </a>
              <a (click)="changePageName('Users')"  routerLink="/Users" [queryParams]="{page: 'Users' }" [class.active]="page==='Users'"  class="list-group-item list-group-item-action">
                &nbsp;Users
              </a>                                                                            
              <a (click)="changePageName('Roles')"  routerLink="/Roles" [queryParams]="{page: 'Roles' }" [class.active]="page==='Roles'"  class="list-group-item list-group-item-action">
                &nbsp;Roles
              </a>                                                   
          </div>
        </div>
      </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
              <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span  class="glyphicon glyphicon-folder-close">
                </span> &nbsp; Reports
              </div>
            </h4>
        </div>
        
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="list-group">
                <a (click)="changePageName('Report - Work Order by Category')"  routerLink="/byCategories" [queryParams]="{page: 'byCategories' }" [class.active]="page==='byCategories'"  class="list-group-item list-group-item-action">
                  &nbsp;by Category
                </a>                    
                <a (click)="changePageName('Report - Work Order by Status')"  routerLink="/byStatus" [queryParams]="{page: 'byStatus' }" [class.active]="page==='byStatus'"  class="list-group-item list-group-item-action">
                  &nbsp;by Status
                </a>
                                                                
            </div>
          </div>
    </div>
   
  </div>