.dropdown-toggle { 
    cursor: pointer;
  }

h1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; } 

.list-group-item.active {
   background-color: rgb(98, 176, 218);
}