<div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">
                    <div class="panel panel-primary" style="background-color: rgb(245, 245, 245) ">
                        <div class="panel-body panel-primary">


                                <table width="100%" >
                                        <tr>
                                                <td style="text-align: left">
                                                                <h1>Work Order Tracking</h1>
             
                                                </td>
                                                <td style="text-align: right"> 
                                                                <span>User: {{userInfo.userName}}  - {{userInfo.role}}</span> 
                                                                <button type="button" class="btn btn-info btn-sm">
                                                                                <span class="glyphicon glyphicon-log-out"></span> Log out
                                                                        </button>
                                                </td>
                                        </tr>
                                        <tr>
                                               <td  colspan="2" style="text-align:right">
                                                        
                                               </td>
                                        </tr>
                                </table>    


                        </div>
                    </div>
            </div>
           
        </div>

        <div class="row">
          <div class="col-sm-2 col-md-2">
                <bs-navbar></bs-navbar>
          </div>
          
          <div class="col-sm-10 col-md-10">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Dashboard</h3>
              </div>
              <div class="panel-body">
                    <router-outlet></router-outlet>
              </div>
              
            </div>
          </div>
        </div>
</div>




