
<div class="container">
    <div class="account-wall">  
       
        <h1 class="text-center login-title">Work Order Tracking</h1><br>
        <img class="profile-img" src="../../assets/images/nouser.png">    
       
        <form class="form-signin" name="form" (ngSubmit)="f.form.valid && login()"   #f="ngForm" novalidate>        
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
                <label for="userName" class="sr-only">User Name</label>                
                <input type="text" class="form-control" name="userName" [(ngModel)]="model.userName" #userName="ngModel" placeholder="User Name" required autofocus>
                <div *ngIf="f.submitted && !userName.valid" class="help-block">Username is required</div>
            </div>
                
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="password" class="sr-only">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"  placeholder="Password" required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
         
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-lg btn-primary btn-block" >Login</button>
            </div>       
            <div *ngIf="isNotLogged" class="alert alert-danger"><strong>Invalid user or password</strong></div>
            
        </form>
    </div>          
 
</div> 
