
<div style="text-align:right">
    <button type="button"  routerLink="/workorder" [queryParams]="{page: 'workorder' }" class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-circle-arrow-left"></span> Back to Work Orders
    </button>
</div> 

<br>

<form #f="ngForm" (ngSubmit)="save(f.value, $event)"  class="form-margin ">
 
  <div class="row"  >
    <div class="col-md-8">
      <h3 class="title">{{title}}</h3>
      <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    </div>  
  </div>  
  <br>
  <input #workOrderID="ngModel" [(ngModel)]="workorder.WorkOrderID"  name="workOrderID" id="workOrderID" type="hidden" class="form-control">

  <!-- Status -->
  <div class="row"  >
    <div class="form-group col-md-8">
        <label for="status">Status</label>

        <select #status="ngModel" [(ngModel)]="workorder.StatusID" name="status" id="status" class="form-control" required>
            <option [value]="selectUndefinedOptionValue" disabled hidden >Choose one ...</option>
            <option *ngFor="let c of lstStatus$" [ngValue]="c.StatusID">
            {{ c.Status }}
          </option>
        </select>

        <div class="alert alert-danger" *ngIf="status.touched && status.invalid">
          Status for this workorder is required.
        </div>
    </div>             
    
  </div>
  <!-- End Status -->
 
  <!-- Category -->

  <div class="row"  >
      <div class="form-group col-md-8">
          <label for="category">Category</label>

          <select #category="ngModel" [(ngModel)]="workorder.CategoryID" name="category" id="category" class="form-control" required>
              <option [value]="selectUndefinedOptionValue" disabled hidden >Choose one ...</option>
              <option *ngFor="let c of lstCategories$" [ngValue]="c.CategoryID">
              {{ c.Category }}
            </option>
          </select>

          <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
            Category is required.
          </div>
      </div>             
      
  </div>
  <!--End  Category -->

  <!-- Description -->
  <div class="row"  >
      <div class="form-group col-md-8">
          <label for="description">Description</label>

          <textarea #description="ngModel" [(ngModel)]="workorder.Description" name="description" id="description"  rows="6"  class="form-control" required></textarea>

          <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
                Description is required.
          </div>
      </div>    
  </div>
  <!-- End Description -->
  
  <!-- Document -->
  <div class="row"  >
      <div class="form-group col-md-8" >
          <label for="category">Document</label><br>
                          
          <label for="toUpload"><span class="titleDoc">{{fileName}}</span></label><br>
            <div class="form-group files fileUpload" >
              <input type="file"  
              (change)="onFileChange($event)" 
               accept="application/pdf" >            </div>      
         
  </div>
</div>
<input #signedUrl="ngModel" [(ngModel)]="workorder.SignedUrl"  name="signedUrl" id="signedUrl" type="hidden" class="form-control">
<input #document="ngModel" [(ngModel)]="workorder.Document"  name="document" id="document" type="hidden" class="form-control">

  <!-- End Document -->
  <br>
  <!-- Signed Date, Started Date -->

  <div class="row"  >
      <div class="form-group col-md-4">
          <label for="SignedDate">Signed Date</label>
          <div class="input-group">
            <input type="text"
                    #signedDate="ngModel" 
                    [(ngModel)]="workorder.SignedDate"
                    name="signedDate"
                    id="signedDate" 
                    class="form-control"                
                    #dpSigned="bsDatepicker"
                    placeholder="mm/dd/yyyy"
                    [bsConfig]="bsConfig"
                    bsDatepicker
                    [(bsValue)]="bsValue1">
            <div class="input-group-btn">
              <button  type="button" class="btn btn-primary" (click)="dpSigned.show() "><span class="glyphicon glyphicon-calendar"></span></button>
            </div>      
          </div>
        </div>
    
        <div class="form-group col-md-4">
          <label for="StartedDate">Started Date</label>
          <div class="input-group">
            <input type="text"
                    class="form-control"
                    #startedDate="ngModel" 
                    [ngModel]="workorder.DateStarted"
                    name="startedDate"
                    id="startedDate" 
                    #dpStarted="bsDatepicker"
                    placeholder="mm/dd/yyyy"
                    [bsConfig]="bsConfig"
                    bsDatepicker 
                    [(bsValue)]="bsValue2">
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary" (click)="dpStarted.show() "><span class="glyphicon glyphicon-calendar"></span></button>
            </div>      
          </div>
        </div>
    </div>
    
  <!-- END Signed Date, Started Date -->

  <!-- Date Completed, Released for testing, Released for Production -->
  
<div class="row"  >
    <div class="form-group col-md-4">
        <label for="CompletedDate">Date Completed</label>
        <div class="input-group">
          <input type="text"
                  class="form-control"
                  #CompletedDate="ngModel" 
                  [(ngModel)]="workorder.DateCompleted"
                  name="completedDate"
                  id="completedDate" 
                  #dpCompleted="bsDatepicker"
                  placeholder="mm/dd/yyyy"
                  [bsConfig]="bsConfig"
                  bsDatepicker 
                  [(bsValue)]="bsValue3">
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary" (click)="dpCompleted.toggle() "><span class="glyphicon glyphicon-calendar"></span></button>
          </div>      
        </div>
      </div>
  
      <div class="form-group col-md-4">
        <label for="ReleasedTestingDate">Release Testing Date</label>
        <div class="input-group">
          <input type="text"
                  class="form-control"  
                  #ReleasedTestDate="ngModel" 
                  [(ngModel)]="workorder.ReleasedTestingDate"
                  name="releasedTestDate"
                  id="releasedTestDate"               
                  #dpReleasedTest="bsDatepicker"
                  placeholder="mm/dd/yyyy"
                  [bsConfig]="bsConfig"
                  bsDatepicker 
                  [(bsValue)]="bsValue4">
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary" (click)="dpReleasedTest.toggle() "><span class="glyphicon glyphicon-calendar"></span></button>
          </div>      
        </div>
      </div>
  </div>

  <div class="row"  >
      <div class="form-group col-md-4">
          <label for="ReleasedProductionDate">Release Production Date</label>
          <div class="input-group">
            <input type="text"
                    class="form-control"
                    #ReleasedProductionDate="ngModel" 
                    [(ngModel)]="workorder.ReleasedProductionDate"
                    name="releasedProductionDate"
                    id="releasedProductionDate"                    
                    #dpReleasePro="bsDatepicker"
                    placeholder="mm/dd/yyyy"
                    [bsConfig]="bsConfig"
                    bsDatepicker 
                    [(bsValue)]="bsValue5">
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary" (click)="dpReleasePro.show() "><span class="glyphicon glyphicon-calendar"></span></button>
            </div>      
          </div>
        </div>
    
    </div>
  <!-- End Date Completed, Released for testing, Released for Production -->

  <!-- Propoused Hours, actual Hours -->
  <div class="row"  >
      <div class="form-group  col-md-4">
          <label for="propouseHours">Propouse Hours</label>
          <div class="input-group">
            <span class="input-group-addon">Hours</span>
            <input #propouseHours="ngModel" [(ngModel)]="workorder.PropouseHours" name="propouseHours" id="propouseHours" type="number" class="form-control"  [min]="1">
          </div>
          <div class="alert alert-danger" *ngIf="propouseHours.touched && propouseHours.invalid">           
            <div *ngIf="propouseHours.errors.min">Propouse Hours should be 1 or higher.</div>
          </div>
        </div>        
        
        <div class="form-group  col-md-4">
            <label for="actualHours">Actual Hours</label>
            <div class="input-group">
              <span class="input-group-addon">Hours</span>
              <input #actualHours="ngModel" [(ngModel)]="workorder.ActualHours" name="actualHours" id="actualHours" type="number" class="form-control" required [min]="1">
            </div>
            <div class="alert alert-danger" *ngIf="actualHours.touched && actualHours.invalid">              
              <div *ngIf="actualHours.errors.min">Actual Hours should be 1 or higher.</div>
            </div>
          </div>        
    
  </div>
  <!-- End Propoused Hours, actual Hours -->
  <br>
  <h3>RESOURCES</h3>
  <!-- Resources -->
  <span> * Click on the name to add/remove resourses to this work order</span>
  <div class="row"  >
      <div class="form-group  col-md-4">
          <label for="propouseHours">All resourses availables</label>
          
          <div class="list">
            <ul>
              <li *ngFor="let user of lstUsers$; let i = index" [class.selected]="i === selectedRow">          
                <span (click)="addUserToList(user)">{{ user.Name }}  </span>       
                
              </li>
            </ul>
          </div>
         
        </div>        
        
        <div class="form-group  col-md-4">
            <label for="actualHours">Resources for this work order</label>  
            <div class="list">
              <ul>
                <li *ngFor="let user of userList; let i = index">          
                  <span (click)="removeUserFromList(user)">{{ user.Name }}  </span>       
                  
                </li>
              </ul>
            </div>
        </div>        
    
  </div>
  <!-- End Resources -->




  <!-- Button to save -->
  <div class="row"  >
            
    <div class="form-group  col-md-8" style="text-align:right">
        <br>
        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        <button class="btn btn-primary" [disabled]="!f.valid">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>        
    </div>
  </div>  
  <!-- End Button to save -->

</form>
