<form #f="ngForm" (ngSubmit)="save(f.value)"  class="form-margin ">
 
  <div class="row"  >
    <div class="col-md-8">
      <h3 class="title">Creating a new Work Order</h3>
      <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    </div>  
  </div>  
  <br>

  <!-- Category -->

  <div class="row"  >
      <div class="form-group col-md-8">
          <label for="category">Category</label>

          <select #category="ngModel" [(ngModel)]="workorder.category" name="category" id="category" class="form-control" required>
              <option [value]="selectUndefinedOptionValue" disabled hidden >Choose one ...</option>
              <option *ngFor="let c of lstCategories$" [ngValue]="c.CategoryID">
              {{ c.Category }}
            </option>
          </select>

          <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
            Category is required.
          </div>
      </div>             
      
  </div>
  <!--End  Category -->

  <!-- Description -->
  <div class="row"  >
      <div class="form-group col-md-8">
          <label for="description">Description</label>

          <textarea #description="ngModel" [(ngModel)]="workorder.description" name="description" id="description"  rows="6"  class="form-control" required></textarea>

          <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
                Description is required.
          </div>
      </div>    
  </div>
  <!-- End Description -->
  
  <!-- Document -->
  <div class="row"  >
      <div class="form-group col-md-8">
          <label for="category">Document</label><br>
          <input type="file"  name="file"  class="form-control file-preview-filename btn-file" accept="application/pdf">
      </div>    
  </div>
  <!-- End Document -->
  

  
  <br>

  <!-- Signed Date, Started Date -->

  <div class="row"  >
      <div class="form-group col-md-4">
          <label for="SignedDate">Signed Date</label>
          <div class="input-group">
            <input type="text"
                    #signedDate="ngModel" 
                    [(ngModel)]="workorder.signedDate"
                    name="signedDate"
                    id="signedDate" 
                    class="form-control"                
                    #dpSigned="bsDatepicker"
                    placeholder="mm/dd/yyyy"
                    [bsConfig]="bsConfig"
                    bsDatepicker
                    [(bsValue)]="bsValue1">
            <div class="input-group-btn">
              <button class="btn btn-primary" (click)="dpSigned.show() "><span class="glyphicon glyphicon-calendar"></span></button>
            </div>      
          </div>
        </div>
    
        <div class="form-group col-md-4">
          <label for="StartedDate">Started Date</label>
          <div class="input-group">
            <input type="text"
                    class="form-control"
                    #startedDate="ngModel" 
                    [(ngModel)]="workorder.startedDate"
                    name="startedDate"
                    id="startedDate" 
                    [minDate]="minDate"
                    [maxDate]="maxDate"
                    #dpStarted="bsDatepicker"
                    placeholder="mm/dd/yyyy"
                    [bsConfig]="bsConfig"
                    bsDatepicker 
                    [(bsValue)]="bsValue2">
            <div class="input-group-btn">
              <button class="btn btn-primary" (click)="dpStarted.show() "><span class="glyphicon glyphicon-calendar"></span></button>
            </div>      
          </div>
        </div>
    </div>
    
  <!-- END Signed Date, Started Date -->

  <!-- Date Completed, Released for testing, Released for Production -->
  
<div class="row"  >
    <div class="form-group col-md-4">
        <label for="CompletedDate">Date Completed</label>
        <div class="input-group">
          <input type="text"
                  class="form-control"
                  #CompletedDate="ngModel" 
                  [(ngModel)]="workorder.completedDate"
                  name="completedDate"
                  id="completedDate" 
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  #dpCompleted="bsDatepicker"
                  placeholder="mm/dd/yyyy"
                  [bsConfig]="bsConfig"
                  bsDatepicker 
                  [(bsValue)]="bsValue3">
          <div class="input-group-btn">
            <button class="btn btn-primary" (click)="dpCompleted.toggle() "><span class="glyphicon glyphicon-calendar"></span></button>
          </div>      
        </div>
      </div>
  
      <div class="form-group col-md-4">
        <label for="ReleasedTestingDate">Release Testing Date</label>
        <div class="input-group">
          <input type="text"
                  class="form-control"                
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  #dpReleasedTest="bsDatepicker"
                  placeholder="mm/dd/yyyy"
                  [bsConfig]="bsConfig"
                  bsDatepicker 
                  [(bsValue)]="bsValue4">
          <div class="input-group-btn">
            <button class="btn btn-primary" (click)="dpReleasedTest.toggle() "><span class="glyphicon glyphicon-calendar"></span></button>
          </div>      
        </div>
      </div>
  </div>

  <div class="row"  >
      <div class="form-group col-md-4">
          <label for="ReleasedProductionDate">Release Production Date</label>
          <div class="input-group">
            <input type="text"
                    class="form-control"
                    #ReleasedProductionDate="ngModel" 
                    [(ngModel)]="workorder.ReleasedProductionDate"
                    name="ReleasedProductionDate"
                    id="ReleasedProductionDate"                    
                    #dpReleasePro="bsDatepicker"
                    placeholder="mm/dd/yyyy"
                    [bsConfig]="bsConfig"
                    bsDatepicker 
                    [(bsValue)]="bsValue5">
            <div class="input-group-btn">
              <button class="btn btn-primary" (click)="dpReleasePro.show() "><span class="glyphicon glyphicon-calendar"></span></button>
            </div>      
          </div>
        </div>
    
    </div>
  <!-- End Date Completed, Released for testing, Released for Production -->

  <!-- Propoused Hours, actual Hours -->
  <div class="row"  >
      <div class="form-group  col-md-4">
          <label for="PropouseHours">Propouse Hours</label>
          <div class="input-group">
            <span class="input-group-addon">Hours</span>
            <input #PropouseHours="ngModel" [(ngModel)]="workorder.PropouseHours" name="PropouseHours" id="PropouseHours" type="number" class="form-control"  [min]="0">
          </div>
          <div class="alert alert-danger" *ngIf="PropouseHours.touched && PropouseHours.invalid">           
            <div *ngIf="PropouseHours.errors.min">Propouse Hours should be 0 or higher.</div>
          </div>
        </div>        
        
        <div class="form-group  col-md-4">
            <label for="ActualHours">Actual Hours</label>
            <div class="input-group">
              <span class="input-group-addon">Hours</span>
              <input #ActualHours="ngModel" [(ngModel)]="workorder.ActualHours" name="ActualHours" id="ActualHours" type="number" class="form-control" required [min]="0">
            </div>
            <div class="alert alert-danger" *ngIf="ActualHours.touched && ActualHours.invalid">              
              <div *ngIf="ActualHours.errors.min">Price should be 0 or higher.</div>
            </div>
          </div>        
    
  </div>
  <!-- End Propoused Hours, actual Hours -->
  <!-- Button to save -->
  <div class="row"  >
            
    <div class="form-group  col-md-8" style="text-align:right">
        <br>
        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        <button class="btn btn-primary">Save</button>        
    </div>
  </div>  
  
</form>


  <!-- /input-group image-preview [TO HERE]--> 
<!--
<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
    

        <div class="form-group">
          <label for="title">Title</label>
          <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
            Title is required.
          </div>
        </div>        
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" required [min]="0">
          </div>
          <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
            <div *ngIf="price.errors.required">Price is required.</div>
            <div *ngIf="price.errors.min">Price should be 0 or higher.</div>
          </div>
        </div>        
        <div class="form-group">
          <label for="category">Category</label>
          <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
            <option value=""></option>
            <option *ngFor="let c of categories$ | async" [value]="c.$key">
              {{ c.name }}
            </option>
          </select>
          <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
            Category is required.
          </div>
        </div>        
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" required url>
          <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
            <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
            <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
          </div>
        </div>  
        <button class="btn btn-primary">Save</button>
        <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
      </form>    
  </div>
  
</div>
-->